.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}
.footerlinks:hover{
    color: #000000;
}
#footer1{
    background: #1fa5e0;
}
#footer2{
    background: #09375c;
}
.sticky-footer {
    position: sticky;
    top: 100%;
}
body{
    min-height:100vh;
}